<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Verifone\Payment\Logger\Handler\Exception">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Verifone\Payment\Logger\Handler\Info">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Verifone\Payment\Logger\Handler\Result">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Verifone\Payment\Logger\VerifoneLogger">
        <arguments>
            <argument name="name" xsi:type="string">verifone_payment</argument>
            <argument name="handlers" xsi:type="array">
                <item name="exception" xsi:type="object">Verifone\Payment\Logger\Handler\Exception</item>
                <item name="error" xsi:type="object">Verifone\Payment\Logger\Handler\Error</item>
                <item name="info" xsi:type="object">Verifone\Payment\Logger\Handler\Info</item>
                <item name="result" xsi:type="object">Verifone\Payment\Logger\Handler\Result</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="verifone_payment_checkout_model_paymentinformationmanagement" type="Verifone\Payment\Model\Checkout\PaymentInformationManagement\Plugin" sortOrder="1" disabled="false" />
    </type>
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="verifone_payment_checkout_model_paymentinformationmanagement" type="Verifone\Payment\Model\Checkout\GuestPaymentInformationManagement\Plugin" sortOrder="1" disabled="false" />
    </type>

    <type name="Magento\Sales\Model\Order\Email\Sender\OrderSender">
        <plugin name="verifone_payment_sales_model_order_email_sender_ordersender" type="Verifone\Payment\Plugin\Sales\Model\Order\Email\Sender\OrderSenderPlugin" />
    </type>

    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns">
                <item name="payment_method_code" xsi:type="string">sales_order.payment_method_code</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="verifone_fix22" xsi:type="object">Verifone\Payment\Console\Command\Fix22Command</item>
                <item name="verifone_recreatePaymentsConfiguration" xsi:type="object">Verifone\Payment\Console\Command\RecreatePaymentsConfigCommand</item>
            </argument>
        </arguments>
    </type>

</config>