<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>

    <div class="payment-method-content">
        <div class="verifone-payment-methods">
            <!-- ko foreach: getPaymentMethods() -->
            <div class="verifone-payment-group">
                <h2><span data-bind="text: $data.name"></span></h2>
                <span data-bind="html: $data.description"></span>
                <!-- ko foreach: $data.methods -->
                <div class="verifone-payment-method">
                    <input type="radio" name="payment[additional_data][payment-method]" class="radio" data-bind="value: $data.value, attr: {'id': $data.id}" />
                    <label data-bind="attr: {'for': $data.id}" class="label"><span data-bind="text: $data.label"></span></label>
                </div>
                <!--/ko-->
            </div>
            <!--/ko-->
        </div>
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {'title': $t('Place Order and Pay with Verifone')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order and Pay with Verifone')"></span>
                </button>
            </div>
        </div>
    </div>
</div>