<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>

    <div class="payment-method-content">
        <div class="verifone-payment-methods">
            <!-- ko foreach: getPaymentMethods() -->
            <!-- ko if: $data.isGroup -->
            <div class="verifone-payment-method-group opc-block-summary">
                <div class="verifone-payment-method-label">
                    <input type="radio" class="radio" data-bind="attr: {'id': 'verifonepayment-mockup_' + $index()}"/>
                    <label class="verifone-label" data-bind="attr: {'for': 'verifonepayment-mockup_' + $index()}"><span
                            data-bind="text: $data.name"></span></label>
                </div>
                <select name="payment[additional_data][payment-method]" class="verifone-payment-method-select"
                        data-bind="attr:{'id': 'payment-method-select_' + $index()}, css: {card: $data.isCard}"
                        disabled="disabled">
                    <option data-bind="text: $t('-- Select --'), value: ''"></option>
                    <!-- ko foreach: $data.methods -->
                    <option data-bind="text: $data.label, value: $data.value, attr: {'id': $data.id, 'data-code': $data.code}"></option>
                    <!--/ko-->
                </select>
                <div class="verifone-payment-method-footer hidden">
                    <!-- ko if: $data.isCard && $parent.getAllowSaveCC() -->
                    <div class="verifone-payment-saved-wrapper">
                        <input type="checkbox" name="payment[additional_data][save-payment-method]"
                               data-bind="attr: {'id': 'save-payment-method_' + $index()}"/>
                        <label style="float: none"
                               data-bind="text: $t('Remember payment method.'), attr: {'for': 'save-payment-method_' + $index()}">
                        </label>
                        <!-- ko if: $parent.getAllowSaveCCInfo().length -->
                        <span class="verifone-payment-saved-info" data-bind="text: '(' + $parent.getAllowSaveCCInfo() + ')'"></span>
                        <!--/ko-->
                    </div>
                    <!-- /ko -->
                    <div class="description">
                        <span data-bind="html: $data.description"></span>
                    </div>
                </div>
            </div>
            <!--/ko-->
            <!-- ko ifnot: $data.isGroup -->
            <!-- ko foreach: $data.methods -->
            <div class="verifone-payment-method-group opc-block-summary">
                <div class="verifone-payment-method-label verifone-payment-method-notgroup">
                    <input type="radio" name="payment[additional_data][payment-method]" class="radio"
                           data-bind="value: $data.value, attr: {'id': $data.id, 'data-code': $data.code}, css: {card: $parent.isCard}"/>
                    <label data-bind="attr: {'for': $data.id}" class="label verifone-label"><span
                            data-bind="text: $data.label"></span></label>
                </div>
                <div class="verifone-payment-method-footer hidden">
                    <!-- ko if: $parent.isCard && $parents[1].getAllowSaveCC() && !$data.code -->
                    <div class="verifone-payment-saved-wrapper">
                        <input type="checkbox" name="payment[additional_data][save-payment-method]"
                               data-bind="attr: {'id': 'save-payment-method_' + $index()}"/>
                        <label style="float: none"
                               data-bind="text: $t('Remember payment method.'), attr: {'for': 'save-payment-method_' + $index()}"></label>
                    </div>
                    <!-- /ko -->
                    <div class="description">
                        <span data-bind="html: $parent.description"></span>
                    </div>
                </div>
            </div>
            <!--/ko-->
            <!--/ko-->
            <!--/ko-->
        </div>
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {'title': $t('Place Order and Pay with Verifone')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order and Pay with Verifone')"></span>
                </button>
            </div>
        </div>
    </div>
</div>