<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="verifone_payment_config_provider" xsi:type="object">Verifone\Payment\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Verifone\Payment\Helper\Urls">
        <arguments>
            <argument name="urlFrontBuilder" xsi:type="object" shared="false">Magento\Framework\Url</argument>
        </arguments>
    </type>
</config>